$primary: #a98794;
$secondary: #59729c;
$accent: rgb(195, 174, 124);
$light: #fff;
$dark: #000;

$title-family: "Antic Didone", serif;
$accent-family: "Bodoni Moda", serif;

$menu-hover-lines-transition: all 0.35s ease;
$menu-hover-lines-border-width: 3px;
/* General */
h1 {
  color: $light;
}

/* Medium menu */
.medium-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: $light;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 0 0.75rem;

  .logo {
    height: 7rem;
  }
  .menu-hover-lines {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    transition: $menu-hover-lines-transition;

    li a {
      padding: 0.75rem 0;
      color: rgba($dark, 0.5);
      position: relative;
      margin-left: 1rem;
      font-family: $accent-family;
    }

    li a.nav-button {
      transition: $menu-hover-lines-transition;
      background-color: rgba($primary, 0.5);
      color: rgba($dark, 0.5);
      border-radius: 0.6rem;
      padding: 0.75rem 1rem;
    }

    li:first-child a {
      margin-left: 0;
    }

    li.active > a {
      background-color: transparent;
    }

    a.nav-link:before,
    a.nav-link::after {
      height: $menu-hover-lines-border-width;
      position: absolute;
      content: "";
      transition: $menu-hover-lines-transition;
      background-color: $primary;
      width: 0;
    }

    a::before {
      top: 0;
      left: 0;
    }

    a::after {
      bottom: 0;
      right: 0;
    }

    a:hover,
    li.active > a {
      color: $dark;
      transition: $menu-hover-lines-transition;
    }
    a.nav-button:hover,
    li.active > a.nav-button {
      color: $dark;
      background-color: $primary;
    }

    a:hover::before,
    .active a::before,
    a:hover::after,
    .active a::after {
      width: 100%;
    }
  }
}
.transparent {
  background-color: transparent !important;
  box-shadow: none !important;

  .menu-hover-lines {
    li a {
      color: rgba($light, 0.5);
    }
    li a.nav-button {
      background-color: transparent;
      color: rgba($light, 0.5);
    }
    a:hover,
    li.active > a {
      color: $light;
    }
  }
}

/* Small menu */
.small-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: $light;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  a {
    padding: 0.75rem 0;
    color: rgba($dark, 0.5);
    position: relative;
    margin-left: 1rem;
    img {
      max-height: 3rem;
    }
  }
  a:hover,
  li.active > a {
    color: $dark;
  }
}

/* Header */
.image_header {
  height: 40rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 5rem;
}
.title {
  text-align: center;
  width: 70%;
  font-family: $title-family;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

/* Gallerie */
.gallery_subject {
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-family: $title-family;
  font-size: 2.5rem;
  color: $secondary;
}
.gallery_card {
  .gallery_image {
    border-radius: 0.6rem;
    transition: $menu-hover-lines-transition;
    &:hover {
      transform: scale(1.1);
    }
  }
  .gallery_title {
    font-family: $accent-family;
    color: $primary;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
}

/* Contenu texte */
.content {
  margin-top: 5rem;
}

/* Responsive */

@media screen and (max-width: 39.9375em) {
  body {
    padding-bottom: 3rem;
  }
  .medium-menu {
    display: none;
  }
  .small-menu {
    display: flex;
  }
  .image_header {
    height: calc(100vh - 3rem);
    align-items: center;
    margin: 0;
  }
  .title {
    margin-top: 15rem;
    font-size: 2rem;
  }
  .gallery_title {
    font-size: 1rem;
  }
}

@media screen and (min-width: 40em) {
  .medium-menu {
    display: flex;
  }
  .small-menu {
    display: none;
  }
}
