/* General */
h1 {
  color: #fff;
}

p {
  color: rgba(51, 51, 51, 0.8);
}

/* Medium menu */
.medium-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: #fff;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 0 0.75rem;
}

.medium-menu .logo {
  height: 7rem;
}

.medium-menu .menu-hover-lines {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.medium-menu .menu-hover-lines li a {
  padding: 0.75rem 0;
  color: rgba(51, 51, 51, 0.5);
  position: relative;
  margin-left: 1rem;
  font-family: "Bodoni Moda", serif;
}

.medium-menu .menu-hover-lines li a.nav-button {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: rgba(169, 135, 148, 0.5);
  color: rgba(51, 51, 51, 0.5);
  border-radius: 0.6rem;
  padding: 0.75rem 1rem;
}

.medium-menu .menu-hover-lines li:first-child a {
  margin-left: 0;
}

.medium-menu .menu-hover-lines li.active > a {
  background-color: transparent;
}

.medium-menu .menu-hover-lines a.nav-link:before,
.medium-menu .menu-hover-lines a.nav-link::after {
  height: 3px;
  position: absolute;
  content: "";
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #a98794;
  width: 0;
}

.medium-menu .menu-hover-lines a::before {
  top: 0;
  left: 0;
}

.medium-menu .menu-hover-lines a::after {
  bottom: 0;
  right: 0;
}

.medium-menu .menu-hover-lines a:hover,
.medium-menu .menu-hover-lines li.active > a {
  color: #333;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.medium-menu .menu-hover-lines a.nav-button:hover,
.medium-menu .menu-hover-lines li.active > a.nav-button {
  color: #333;
  background-color: #a98794;
}

.medium-menu .menu-hover-lines a:hover::before,
.medium-menu .menu-hover-lines .active a::before,
.medium-menu .menu-hover-lines a:hover::after,
.medium-menu .menu-hover-lines .active a::after {
  width: 100%;
}

.transparent {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.transparent .menu-hover-lines li a {
  color: rgba(255, 255, 255, 0.5);
}

.transparent .menu-hover-lines li a.nav-button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
}

.transparent .menu-hover-lines a:hover,
.transparent .menu-hover-lines li.active > a {
  color: #fff;
}

/* Small menu */
.small-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #fff;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.small-menu a {
  padding: 0.75rem 0;
  color: rgba(51, 51, 51, 0.5);
  position: relative;
  margin-left: 1rem;
}

.small-menu a img {
  max-height: 3rem;
}

.small-menu a:hover,
.small-menu li.active > a {
  color: #333;
}

/* Header */
.image_header {
  height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 5rem;
}

.title {
  text-align: center;
  width: 70%;
  font-family: "Antic Didone", serif;
  letter-spacing: 0.1rem;
}

/* Footer */
.footer {
  margin-top: 2rem;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.footer p {
  color: #c3ae7c;
}

/* Galerie */
.gallery_subject {
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-family: "Antic Didone", serif;
  font-size: 2.1rem;
  color: #59729c;
}

.gallery_card .gallery_image {
  border-radius: 0.6rem;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.gallery_card .gallery_image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.gallery_card .gallery_title {
  font-family: "Bodoni Moda", serif;
  color: #a98794;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Contenu texte */
.content {
  margin-top: 3rem;
}

.content .room_picture,
.content .trip_picture {
  border-radius: 50%;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  width: 60%;
}

.content .room_picture:hover,
.content .trip_picture:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content .trip_picture {
  position: relative;
  top: -25%;
  left: 35%;
  border: 3px solid white;
}

.content .button-center {
  text-align: center;
}

.content .button-center .button {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: rgba(169, 135, 148, 0.5);
  color: rgba(51, 51, 51, 0.5);
  border-radius: 0.6rem;
  padding: 0.75rem 1rem;
  font-family: "Antic Didone", serif;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.content .button-center .button:hover {
  color: #333;
  background-color: #a98794;
}

/* Responsive */
@media screen and (max-width: 39.9375em) {
  body {
    padding-bottom: 3rem;
  }
  .medium-menu {
    display: none;
  }
  .small-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .image_header {
    height: calc(100vh - 3rem);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .grid-container {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .title {
    margin-top: 15rem;
    font-size: 2rem;
  }
  .gallery_card .gallery_title {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 40em) {
  .medium-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .small-menu {
    display: none;
  }
  .grid-container {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}
/*# sourceMappingURL=main.css.map */